{% extends 'allianceauth_pve/base.html' %}
{% load django_bootstrap5 %}


{% block pvecontent %}
        <h1 class="page-header text-center">New Funding Project</h1>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="{% url 'allianceauth_pve:dashboard' %}" class="btn btn-danger mx-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock pvecontent %}

{% block extra_javascript %}
    <script src="{% allianceauth_pve_static 'allianceauth_pve/js/localized_checkbox.js' %}"></script>
{% endblock extra_javascript %}
