{% extends 'allianceauth/base.html' %}
{% load humanize %}

{% block page_title %}PvE Dashboard{% endblock page_title %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">PvE Dashboard</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Running Averages</h3>
            </div>
            <div class="flex-center-horizontal">
                <ul class="list-group list-group-horizontal text-center" style="margin-bottom: 0;">
                    <li class="list-group-item">
                        <p><strong>1 month</strong></p>
                        {% if onemonth.actual_total %}
                            <p>{{ onemonth.actual_total|floatformat|intcomma }}</p>
                            <p>{{ onemonth.helped_setups }} setup(s)</p>
                        {% else %}
                            <p>No activity in the last month</p>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <p><strong>3 months</strong></p>
                        {% if threemonth.actual_total %}
                            <p>{{ threemonth.actual_total|floatformat|intcomma }}</p>
                            <p>{{ threemonth.helped_setups }} setup(s)</p>
                        {% else %}
                            <p>No activity in the last 3 months</p>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <p><strong>6 months</strong></p>
                        {% if sixmonth.actual_total %}
                            <p>{{ sixmonth.actual_total|floatformat|intcomma }}</p>
                            <p>{{ sixmonth.helped_setups }} setup(s)</p>
                        {% else %}
                            <p>No activity in the last 6 months</p>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <p><strong>1 year</strong></p>
                        {% if oneyear.actual_total %}
                            <p>{{ oneyear.actual_total|floatformat|intcomma }}</p>
                            <p>{{ oneyear.helped_setups }} setup(s)</p>
                        {% else %}
                            <p>No activity in the last year</p>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs">
            {% if is_closed_param %}
                <li>
            {% else %}
                <li class="active">
            {% endif %}
                <a data-toggle="tab" href="#open">
                    Open Rotations
                    <span class="badge">{{ open_count }}</span>
                </a>
            </li>

            {% if is_closed_param %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a data-toggle="tab" href="#closed">
                    Closed Rotations
                </a>
            </li>
        </ul>

        <div class="panel panel-default panel-tabs-aa">
            <div class="panel-body">
                <div class="tab-content">
                    {% if is_closed_param %}
                        <div id="open" class="tab-pane">
                    {% else %}
                        <div id="open" class="tab-pane active">
                    {% endif %}
                        {% if open_count > 0 %}
                            <div class="table-responsive">
                                <table class="table table-aa">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">Name</th>
                                            <th style="width: 25%;">Age (days)</th>
                                            <th style="width: 25%;">Participants</th>
                                            <th style="width: 25%;">Current Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for rotation in open_rots %}
                                            <tr>
                                                <td style="width: 25%;"><a href="{% url 'allianceauth_pve:rotation_view' rotation.pk %}">{{ rotation.name }}</a></td>
                                                <td style="width: 25%;">{{ rotation.days_since }}</td>
                                                <td style="width: 25%;">{{ rotation.summary.count }}</td>
                                                <td style="width: 25%;">{{ rotation.estimated_total|floatformat|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-warning text-center">No open rotations</div>
                        {% endif %}
                        
                        {% if open_rots.paginator.num_pages > 1 %}
                            <div>
                                <ul class="pagination pagination-sm">
                                    {% if open_rots.has_previous %}
                                        <li class="page-item"><a href="?page_open={{ open_rots.previous_page_number  }}">&laquo;</a></li>
                                        <li class="page-item"><a href="?page_open=1">1</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a href="#">&laquo;</a></li>
                                    {% endif %}

                                    {% for npage in open_rots.paginator.page_range %}
                                        {% if npage == open_rots.number %}
                                            <li class="page-item active"><a href="?page_open={{ npage }}">{{ npage }}</a></li>
                                        {% elif npage > open_rots.number|add:"-3" and npage < open_rots.number|add:"3" and npage != 1 and npage != open_rots.paginator.num_pages %}
                                            <li class="page-item"><a href="?page_open={{ npage }}">{{ npage }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if open_rots.has_next %}
                                        <li class="page-item"><a href="?page_open={{ open_rots.paginator.num_pages }}">{{ open_rots.paginator.num_pages }}</a></li>
                                        <li class="page-item"><a href="?page_open={{ open_rots.next_page_number  }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a href="#">&raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>

                    {% if is_closed_param %}
                        <div id="closed" class="tab-pane active">
                    {% else %}
                        <div id="closed" class="tab-pane">
                    {% endif %}
                        {% if closed_rots.paginator.count > 0 %}
                            <div class="table-responsive">
                                <table class="table table-aa">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">Name</th>
                                            <th style="width: 25%;">Closed On</th>
                                            <th style="width: 25%;">Participants</th>
                                            <th style="width: 25%;">Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for rotation in closed_rots %}
                                            <tr>
                                                <td style="width: 25%;"><a href="{% url 'allianceauth_pve:rotation_view' rotation.pk %}">{{ rotation.name }}</a></td>
                                                <td style="width: 25%;">{{ rotation.closed_at }}</td>
                                                <td style="width: 25%;">{{ rotation.summary.count }}</td>
                                                <td style="width: 25%;">{{ rotation.actual_total|floatformat|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-warning text-center">No open rotations</div>
                        {% endif %}

                        {% if closed_rots.paginator.num_pages > 1 %}
                            <div>
                                <ul class="pagination pagination-sm">
                                    {% if closed_rots.has_previous %}
                                        <li class="page-item"><a href="?page_closed={{ closed_rots.previous_page_number  }}">&laquo;</a></li>
                                        <li class="page-item"><a href="?page_closed=1">1</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a href="#">&laquo;</a></li>
                                    {% endif %}

                                    {% for npage in closed_rots.paginator.page_range %}
                                        {% if npage == closed_rots.number %}
                                            <li class="page-item active"><a href="?page_closed={{ npage }}">{{ npage }}</a></li>
                                        {% elif npage > closed_rots.number|add:'-3' and npage < closed_rots.number|add:'3' and npage != 1 and npage != closed_rots.paginator.num_pages %}
                                            <li class="page-item"><a href="?page_closed={{ npage }}">{{ npage }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if closed_rots.has_next %}
                                        <li class="page-item"><a href="?page_closed={{ closed_rots.paginator.num_pages }}">{{ closed_rots.paginator.num_pages }}</a></li>
                                        <li class="page-item"><a href="?page_closed={{ closed_rots.next_page_number  }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a href="#">&raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if perms.allianceauth_pve.manage_rotations or user.is_superuser %}
            <a href="{% url 'allianceauth_pve:new_rotation' %}" class="btn btn-info">New Rotation</a>
        {% endif %}
    </div>
{% endblock content %}