.selected-user {
    color: #259c21;
    transform: scale(1.5, 1.5);
}

.unselected-user {
    transform: scaleX(-1);
    color: #ff5e00;
}

#roles-div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 3ch;
    row-gap: 2rem;
    align-items: center;
    margin-bottom: 15px;
}

#users {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto auto auto auto;
    column-gap: 3ch;
    row-gap: 2rem;
    align-items: center;
}

#search-results {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 6ch;
    row-gap: 1.1rem;
    align-items: center;
}

.setup {
    justify-self: center;
}

.all-cols {
    grid-column: 1/-1;
}